/* HTML Style */
html {
   background: #666;
   padding: 1em;
}
/* Body Style */
body {
   border: 5px dashed #eee;
   color: #fff;
   font: 3em/1.5 sans-serif;
   padding: 1em;
   width: 30em;
   margin: 0 auto;
}
/* Body Content */
body::after {
   content: 'Hello';
}
